i.arrow {
  float: right;
  color: brown;
}

i.hidden {
  display: none;
}

#tbl_pages {
 width: 700px;
}

#tbl_history {
 width: 410px;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  background: darkgray;

  /*text-align: left;*/
}

tbody {
  height: 700px;
  overflow-y: auto;
}

/*th, td {
  border: 1px solid black;
  border-collapse: collapse;
}*/

th, td {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tbody tr:last-child td {
  border-bottom: 1px solid black;
}


th {
  border-bottom: 1px solid black;
}

th, td {
  font-size: 90% !important;
  padding: 2px !important;
  max-width: 600px;
  word-break: break-all;
  vertical-align: top;
}

td.chb_input {
  text-align: center;
}

select {
  padding: 1px 20px 1px 0px;
  margin: 0;
  width: auto;
  height: auto;
}

button {
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 4px;
}

label {
  margin-left: 3px !important;
}

.sort_arrow {
  float: right;
}

.selrow td {
  background-color: #e3a692 !important;
}

.number_cel {
  text-align: right;
}

.checkbox_input, .radio_input {
  margin-bottom: 0 !important;
}

.date_input {
  display: inline-block !important;
  height: 25px !important;
  padding: 0 !important;
}

.dummy_input {
  margin: 0 !important;
  padding: 0 !important;
}

.sel_unit {
  margin-left: 5px;
}

#div_container {
  margin-bottom: 5px;
  height: 132px;
}

#div_left, #div_right {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 5px;
}

#div_table, #div_history {
/*  overflow-y: scroll;*/
  max-height: 750px;
}

#div_table, #div_history {
  float: left;
  margin-right: 10px;
}

#div_buttons {
  display: flex;
  float: right;
  margin-left: 5px;
}

#spn_date {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 110px;
}

#inp_del_until {
  position: absolute; 
  opacity: 0.0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#inp_del_dummy {
  border: none;
  height: 90%;
  padding-left: 5px !important;
}

#spn_del_dummy {
  display: inline-block;
  width: 20px;
  z-index: 2;
  float: right;
  padding-top: 3px;
}
