.border {
  border: 1px solid #ccc;
}

.tab_button {
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  margin: 0 2px 0 0;
  transition: 0.3s;
  font-family: Tahoma;
  font-size: 14px;
  background-color: #ddd;
  color:#23238e;
  border-color: #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0px 0px;
}

.tab_button.active {
  background-color: #ccc;
  color:#23238e;
  font-weight: bold;
}

.tab_button:hover {
  background-color: #ccc;
  color:#23238e
}

.tab_content {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: #ccc;
  width: 100%;
}

.tab_content.active {
  display: inline-block;
}
