.tab_button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 12px;
  transition: .3s;
/*    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;*/
  background-color: #e1e1e1;
  color: #3a3a57;
  font-size: 16px;
  border-radius: 4px 4px 0px 0px;
}

.tab_button.active {
  background-color: #a2a2a2 ;
  color: #3a3a57 !important;
}

.tab_button:hover {
  background-color: #c3c3c3;
  color: #3a3a57 !important;
}

.sheet_content {
/*  clear: both;*/
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #333333;
}

.sheet_content.subtab {
  padding: 0;
  border: none;
}

.sheet_content.active {
  display: block;
  font-size: 15px;
}

.row {
  max-width: 100em !important;
}

/*input[type="text"] {
  height: 24px;
  margin: 0;
}*/

input[type="text"].inp_filt {
  height: 24px;
  width: auto;
  margin: 0;
  display: inline-block;
}

i.arrow {
  float: right;
  color: brown;
}

i.hidden {
  display: none;
}

.div_match_table {
  margin-top:5px;
  max-height: 550px;
  overflow-y: auto;
}

#tbl_vanis {
 width: 630px;
}

#tbl_categories {
 width: 610px;
}

#tbl_filt_pages {
 width: 490px;
}

#tbl_dict_pages {
 width: 860px;
}

#tbl_catg_words, #tbl_page_words, #tbl_text_words {
 width: 710px;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  background: darkgray;
}

tbody {
  max-height: 500px;
  overflow-y: auto;
}

th, td {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tbody tr:last-child td {
  border-bottom: 1px solid black;
}

th {
  border-bottom: 1px solid black;
}

th, td {
  font-size: 90% !important;
  padding: 2px !important;
  max-width: 600px;
  word-break: break-all;
  vertical-align: top;
}

td.chb_input {
  text-align: center;
}

select {
  padding: 1px 13px 1px 0px;
  margin: 0;
  width: auto;
  height: auto;
}

button {
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 4px;
}

label {
  margin-left: 3px !important;
}

a, a:visited {
  color: #312B79;
}

.sort_arrow {
  float: right;
}

.selrow td {
  background-color: #e3a692 !important;
}

.number_cel {
  text-align: right;
}

.checkbox_input, .radio_input {
  margin-bottom: 0 !important;
}

.date_input {
  display: inline-block !important;
  height: 25px !important;
  padding: 0 !important;
}

.dummy_input {
  margin: 0 !important;
  padding: 0 !important;
}

.sel_unit {
  margin-left: 5px;
}

.left_right {
  display: inline-block;
  vertical-align: top;
}

.top_section {
  margin: 5px 0px 10px 0px;
  min-height: 80px;
}

.border_block {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px 5px;
}

.div_buttons {
  display: inline-block;
  margin-left: 10px;
}

.span_gen_match {
  display: block;
}

#div_master, #div_detail {
  display: inline-block;
  max-height: 750px;
  margin-right: 10px;
}

#spn_date {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 110px;
}

#inp_del_until {
  position: absolute; 
  opacity: 0.0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#inp_del_dummy {
  border: none;
  height: 90%;
  padding-left: 5px !important;
}

#spn_del_dummy {
  display: inline-block;
  width: 20px;
  z-index: 2;
  float: right;
  padding-top: 3px;
}

/*
#inp_filt_user, #inp_filt_page {
  display: inline-block;
  width: auto;
}*/

/* MODAL WINDOW */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#spn_modal_title {
  text-decoration: underline;
}

#div_modal_error {
  margin-top: 5px;
  color: red;
}