/* Style the tab */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
/*  background-color: #f1f1f1;*/
}

.tab_button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
  font-family: Tahoma;
  font-size: 14px;
  color:#23238e
}

.tab_button:hover {
  background-color: #ddd;
  color:#23238e
}

.tab_button.active {
  background-color: #ccc;
  color:#23238e;
  font-weight: bold;
}

.tab_content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}

.tab_content.active {
  display: inline-block;
}
