/*input[type=text],input[type=password] {
  display: inline-block;
  height: 27px;
  width: auto;
  margin: 0;
  color: blue;
}*/

input[type="checkbox"] {
  margin: 0 0 0 5px;
}

select, input[type="date"], input[type="radio"] {
  height: auto;
  margin: 0;
  padding: 2px 20px 2px 2px;
}

h1 {
  font-weight: normal;
  font-size: 150%;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-top: 5px;
  margin-bottom: 5px;
}

.headerblock {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.headerunit {
  display: block !important;
  width: 100% !important;
  height: 25px !important;
  margin-bottom: 3px !important;
}

.cmdbutton {
  margin: 0 3px 0 0;
  border-radius: 20px;
  height: 25px;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  background: darkgray;
}

tbody {
  max-height: 500px;
  overflow-y: auto;
  background-color: beige;
}

th, td {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tbody tr:last-child td {
  border-bottom: 1px solid black;
}

th {
  border-bottom: 1px solid black;
}

th, td {
  font-size: 90% !important;
  padding: 2px !important;
/*  max-width: 600px;*/
  word-break: break-all;
  vertical-align: top;
}

td.number_cel {
  text-align: right;
}

td.focus_cel {
  background-color: darksalmon;
}

#tbl_vanis {
  width: 950px;
}

#tbl_vqsections {
  width: 680px;
}

#tbl_vqhistory {
  width: 320px;
}

i.arrow {
  color: brown;
}

/*i.fa {
  float: right;
}*/

i.hidden {
  display: none;
}